.spin-this {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stretch-this {
  animation-name: stretch;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes stretch {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.wiggle-this {
  animation-name: wiggle;
  animation-duration: 1000ms;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bg-frankbrown {
  background-color: #bd864f;
}
